/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Import Tailwind */
@tailwindcss preflight;
@tailwind utilities;
@tailwind utilities;

/* Import Google Fonts */

/* Apply Poppins as default font */
body {
    font-family: "Poppins", ui-sans-serif, system-ui;
}
